.App {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: fit-content;
  border: solid;
  height: fit-content;
}

/* header */

#header {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  border: solid 0.5px gray;
  position: sticky;
  top: 0px;
  z-index: 2;
}

#header-button-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;
}

.header-button {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-button:hover {
  border-bottom: 1px solid;
}

#header-main-button {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: white;
  margin-top: 3vh;
  margin-left: 3vw;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
#header-other {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* navigation */

nav {
  width: 20vw;
  height: 50vh;
  border: solid 0.5px gray;
  position: relative;
  top: -1px;
}

.nav-button {
  z-index: 1;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-button:hover {
  border-bottom: 1px solid;
}


#nav-button-container {
  margin: 5vh 0 0 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}

/* main content */

#main-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.content-part {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: start;
  margin: 5.5%;
}

#category-list {
  display: flex;
  flex-direction: row;
  gap: 50px;  
}

#product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.category-button {
  width: 200px;
  height: 175px;
  background-color: white;
}

.product-button {
  width: 20vw;
  height: 20vw;
  background-color: #FFF3F3;
}

.content-part-text {
  display: flex;
  gap: 20px;
  align-items: center;
}

.orange-rectangle {
  width: 30px;
  height: 60px;
  border-radius: 4px;
  background-color: #DB4444;
}

.category-first-name {
  color: #DB4444;
}

.line {
  width: 89%;
  height: 0.5px;
  background-color: grey;
  margin-left: 5.5%;
}

/* contact */

#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#contact-content {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}



#call-write {
  width: 20%;
  height: fit-content;
  box-shadow: 0px 0px 20px #ffe2e2;
  margin: 50px; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  font-size: 18px;
}

.contact-call {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

#send-message {
  width: 960px;
  height: fit-content;
  box-shadow: 0px 0px 10px #ffe2e2;
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 30px;
  padding: 40px;
}

.contact-input {
  width: 300px;
  height: 60px;
  background-color: #FFF3F3;
  border-radius: 2px;
  font-size: 20px;
}

#contact-message-text {
  height: 300px;
  width: 960px;
  background-color: #FFF3F3;
  font-size: 20px;
}

#contact-send-message-button {
  width: 230px;
  height: 60px;
  background-color: rgb(255, 106, 106);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}

/* footer */
footer {
  width: 100%;
  height: 400px;
  background-color: black;
}