.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: fit-content;
  border: solid;
  height: 200vh;
}

#header {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  border: solid 0.5px gray;
  position: sticky;
  top: 0px;
  z-index: 2;
}

#header-button-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  justify-content: center;
}

.header-button {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header-button:hover {
  border-bottom: 1px solid;
}

#header-main-button {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: white;
  margin-top: 3vh;
  margin-left: 3vw;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}
#header-other {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

nav {
  width: 20vw;
  height: 50vh;
  border: solid 0.5px gray;
  position: relative;
  top: -1px;
}

.nav-button {
  z-index: 1;
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-button:hover {
  border-bottom: 1px solid;
}


#nav-button-container {
  margin: 5vh 0 0 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}